<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Azure AD application used for app-only token support -->
    <add key="confidential-application-id" value="ADD_APPLICATION_ID" />
    <add key="confidential-application-secret" value="ADD_APPLICATION_SECRET" />
    <add key="tenant-name" value="ADD_TENANT_NAME" />


  </appSettings>
</configuration>